/* Shared app styles used by App and components */

.app-container {
  text-align: center;
  margin-top: 50px;
}

.quiz-container {
  padding: 20px;
}

.question-card {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: large;
  background-color: aliceblue;
  color: black;
  margin-top: 10px;
  width: 500px;
  height:auto;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 0 0 20px 5px rgba(94, 97, 94, 0.6);

  margin-bottom: 20px;
}
h3{
  text-align: center;
  margin: 10px;
  width: auto;
}
.option-button {
  /*border: 2px solid brown;*/
  align-items: center;
  justify-content: center;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  color: black;
  font-weight: 400;
  background-color: rgb(152, 156, 160);
}
button{
  cursor:pointer;
  margin:auto;
  height:50px;
  width:400px;
  border-radius: 10px;
  border: 2px solid black
}
button:hover{
  color: #ffff;
  background-color: dodgerblue;
  font-weight: bold;
}
.prev{
  color: #ffff;
  background-color: dodgerblue;
  font-weight: bold;
  margin:20px;
  width:100px;
  border: none;
  border-radius: 15px;
}
.prev:hover{
  animation-delay: 1ms;
  transform: translateX(-10px);
}
